.btn__hint
  display block
  width 60%
  height 60%
  margin 0 auto
  text-align center
  position relative
  bottom 25rem
  &.active
    width 70%
    height 70%

.btn__answer
  display block
  width 60%
  height 60%
  margin 0 auto
  text-align center
  position relative
  bottom 20rem
  &.active
    width 70%
    height 70%
