.ttl--1
  font-size: 160%
  font-weight: 500
  margin 3rem 0 .01rem

.ttl--2
  align-items: center;
  display: flex
  font-size: 70%
  font-weight: 500
  justify-content: center;
  margin .01rem 0 .5rem 0
  &:before
    border-top: 0.1rem solid
    content: ""
    margin-right: 1em
    width: 1em
  &:after
    border-top: 0.1rem solid
    content: ""
    margin-left: 1em
    width: 1em

.ttl--3
  font-size: 150%
  font-weight: 500
  text-align: left;
  padding 0rem 1rem
  border-left 1rem solid c-txt-1
  margin-left 5vw

+ls()
  .ttl--1
    font-size: 200%
    margin 5rem 0 2rem
  .ttl--2
    font-size: 90%
    margin 2rem 0
  .ttl--3
    font-size: 150%
