.topIcon
  padding-top 7rem
  width 8rem

.icon_Twitter
  margin 0vh 5vw
  width 11%
  height auto


+ls()
  .topIcon
    width 8%

  .icon_Twitter
    margin 3.0rem 0.8rem
    width 2.8%
    height auto
