.progress
  .progress__logo
    img(src=imgPath+"/common/logo_sensu.png")
  .progress__bar
    .progress__bar__now

.maku
  .maku__left
    img(src=imgPath+"/common/maku.svg")
  .maku__right
    img(src=imgPath+"/common/maku.svg")
