- var imgPath = 'img'
- var cssPath = 'css'
- var jsPath = 'js'
- var domain = 'sakuragawanazo.com'
- var canonical = '/'
- var themeColor = '#EBCD37'
- var siteName = '桜川謎解き街歩き'
- var logoAlt = 'ロゴの名前'

-
  var pages = {
    top : {
      url : 'index.html',
      canonicalUrl : '/',
      name : 'トップページ',
      title : siteName,
      description : '桜川謎解き街歩きの公式HPです。',
      imageUrl : domain+canonical+imgPath+'/common/ogp.jpg',
      imageAlt : '桜川謎解き街歩き',
      siteType : 'website'
    }
  }
