- var imgPath = 'img'
- var cssPath = 'css'
- var jsPath = 'js'
- var domain = 'www.sakuragawanazo.com'
- var canonical = '/'
- var themeColor = '#EBCD37'
- var siteName = '桜川謎解き街歩き'
- var logoAlt = 'ロゴの名前'

-
  var pages = {
    top : {
      url : 'index.html',
      canonicalUrl : '/',
      name : 'トップページ',
      title : siteName,
      description : '関西の謎解きクリエイター、杉山翔馬・シルクト・とまとによる非公式周遊謎、「桜川謎解き街歩き」の公式HP',
      imageUrl : 'https://' +domain+canonical+imgPath+'/common/ogp.jpg',
      imageUrlforLine : 'https://' +domain+canonical+imgPath+'/common/ogp_line.jpg',
      imageAlt : '桜川謎解き街歩き',
      siteType : 'website'
    }
  }
