
/* line 22 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\style.styl */

/* line 1 : C:\Users\daito\AppData\Local\Prepros\app-7.26.0\resources\app.asar\node_modules\stylus\lib\functions\index.styl */

/* line 1 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\style.styl */
@charset "UTF-8";

/* line 297 : C:\Users\daito\AppData\Local\Prepros\app-7.26.0\resources\app.asar\node_modules\stylus\lib\functions\index.styl */

/* line 1 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\setting\_path.styl */

/* line 1 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\setting\_path.styl */

/* line 1 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\setting\_color.styl */

/* line 6 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\setting\_color.styl */

/* line 1 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\mixin\_mq.styl */

/* line 23 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\mixin\_mq.styl */

/* line 1 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\component\_heading.styl */

/* line 1 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\component\_heading.styl */
.ttl--1 {
  font-size: 160%;
  font-weight: 500;
  margin: 3rem 0 0.01rem;
}

/* line 6 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\component\_heading.styl */
.ttl--2 {
  align-items: center;
  display: flex;
  font-size: 70%;
  font-weight: 500;
  justify-content: center;
  margin: 0.01rem 0 0.5rem 0;
}

/* line 13 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\component\_heading.styl */
.ttl--2:before {
  border-top: 0.1rem solid;
  content: "";
  margin-right: 1em;
  width: 1em;
}

/* line 18 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\component\_heading.styl */
.ttl--2:after {
  border-top: 0.1rem solid;
  content: "";
  margin-left: 1em;
  width: 1em;
}

/* line 24 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\component\_heading.styl */
.ttl--3 {
  font-size: 150%;
  font-weight: 500;
  text-align: left;
  padding: 0rem 1rem;
  border-left: 1rem solid c-txt-1;
  margin-left: 5vw;
}
@media print, screen and (orientation: landscape) {

/* line 33 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\component\_heading.styl */
  .ttl--1 {
    font-size: 200%;
    margin: 5rem 0 2rem;
  }

/* line 36 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\component\_heading.styl */
  .ttl--2 {
    font-size: 90%;
    margin: 2rem 0;
  }

/* line 39 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\component\_heading.styl */
  .ttl--3 {
    font-size: 150%;
  }
}

/* line 40 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\component\_heading.styl */

/* line 1 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\component\_btn.styl */

/* line 1 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\component\_btn.styl */
.btn__hint {
  display: block;
  width: 60%;
  height: 60%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  bottom: 25rem;
}

/* line 9 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\component\_btn.styl */
.btn__hint.active {
  width: 70%;
  height: 70%;
}

/* line 13 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\component\_btn.styl */
.btn__answer {
  display: block;
  width: 60%;
  height: 60%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  bottom: 20rem;
}

/* line 21 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\component\_btn.styl */
.btn__answer.active {
  width: 70%;
  height: 70%;
}
@media print, screen and (orientation: landscape) {

/* line 26 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\component\_btn.styl */
  .btn__hint {
    width: 20%;
    height: 20%;
    bottom: 8rem;
  }

/* line 30 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\component\_btn.styl */
  .btn__hint.active {
    width: 30%;
    height: 30%;
  }

/* line 34 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\component\_btn.styl */
  .btn__answer {
    width: 20%;
    height: 20%;
    bottom: 5rem;
  }

/* line 38 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\component\_btn.styl */
  .btn__answer.active {
    width: 30%;
    height: 30%;
  }
}

/* line 40 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\component\_btn.styl */

/* line 1 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\component\_line.styl */

/* line 1 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\component\_line.styl */
.line {
  background: linear-gradient(transparent 70%, #fff9db 70%);
}

/* line 2 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\component\_line.styl */

/* line 1 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\component\_icon.styl */

/* line 1 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\component\_icon.styl */
.topIcon {
  padding-top: 7rem;
  width: 8rem;
}

/* line 5 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\component\_icon.styl */
.icon_Twitter {
  margin: 0vh 5vw;
  width: 11%;
  height: auto;
}
@media print, screen and (orientation: landscape) {

/* line 12 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\component\_icon.styl */
  .topIcon {
    width: 8%;
  }

/* line 15 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\component\_icon.styl */
  .icon_Twitter {
    margin: 3rem 0.8rem;
    width: 2.8%;
    height: auto;
  }
}

/* line 18 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\component\_icon.styl */

/* line 1 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */

/* line 8 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
*,
::before,
::after {
  box-sizing: border-box;
}

/* line 19 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
::before,
::after {
  text-decoration: inherit; /* 1 */
  vertical-align: inherit; /* 2 */
}

/* line 35 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
html {
  cursor: default; /* 1 */
  line-height: 1.5; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  -webkit-tap-highlight-color: transparent /* 4 */;
  -ms-text-size-adjust: 100%; /* 5 */
  -webkit-text-size-adjust: 100%; /* 5 */
  word-break: break-word; /* 6 */
}

/* line 53 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
body {
  margin: 0;
}

/* line 62 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 74 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}

/* line 86 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

/* line 98 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
hr {
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/* line 107 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
main {
  display: block;
}

/* line 115 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
nav ol,
nav ul {
  list-style: none;
  padding: 0;
}

/* line 126 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* line 138 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
a {
  background-color: transparent;
}

/* line 146 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/* line 155 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
b,
strong {
  font-weight: bolder;
}

/* line 165 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* line 176 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
small {
  font-size: 80%;
}

/* line 187 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/* line 200 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
audio,
video {
  display: inline-block;
}

/* line 209 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 218 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
iframe {
  border-style: none;
}

/* line 226 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
img {
  border-style: none;
}

/* line 234 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
svg:not([fill]) {
  fill: currentColor;
}

/* line 242 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
svg:not(:root) {
  overflow: hidden;
}

/* line 253 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
table {
  border-collapse: collapse;
}

/* line 264 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
button,
input,
select {
  margin: 0;
}

/* line 275 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
button {
  overflow: visible; /* 1 */
  text-transform: none; /* 2 */
}

/* line 284 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/* line 296 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
fieldset {
  border: 1px solid #a0a0a0; /* 1 */
  padding: 0.35em 0.75em 0.625em; /* 2 */
}

/* line 305 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
input {
  overflow: visible;
}

/* line 314 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
legend {
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  white-space: normal; /* 1 */
}

/* line 326 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/* line 335 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
select {
  text-transform: none;
}

/* line 345 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
textarea {
  margin: 0; /* 1 */
  overflow: auto; /* 2 */
  resize: vertical; /* 3 */
}

/* line 355 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
[type="checkbox"],
[type="radio"] {
  padding: 0;
}

/* line 365 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/* line 374 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/* line 383 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/* line 392 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 401 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* line 410 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* line 419 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/* line 427 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
:-moz-ui-invalid {
  box-shadow: none;
}

/* line 438 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
details {
  display: block;
}

/* line 446 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
dialog {
  background-color: #fff;
  border: solid;
  color: #000;
  display: block;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: fit-content;
}

/* line 464 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
dialog:not([open]) {
  display: none;
}

/* line 472 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
summary {
  display: list-item;
}

/* line 483 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
canvas {
  display: inline-block;
}

/* line 491 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
template {
  display: none;
}

/* line 504 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] { /* 1 */
  touch-action: manipulation; /* 2 */
}

/* line 521 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
[hidden] {
  display: none;
}

/* line 532 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
[aria-busy="true"] {
  cursor: progress;
}

/* line 540 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
[aria-controls] {
  cursor: pointer;
}

/* line 549 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
[aria-disabled="true"],
[disabled] {
  cursor: not-allowed;
}

/* line 559 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
[aria-hidden="false"][hidden] {
  display: initial;
}

/* line 563 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

/* line 569 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

/* line 570 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_sanitize.styl */

/* line 570 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_base.styl */

/* line 1 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_base.styl */
html {
  font-size: 62.5%;
}

/* line 4 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_base.styl */
body {
  color: c-txt-1;
  display: flex;
  font-family: 'Roboto', 'Noto Sans JP', sans-serif;
  flex-flow: column;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 3rem;
  margin: 0;
  min-height: 100vh;
}

/* line 16 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_base.styl */
main {
  flex: 1;
}
@media print, screen and (min-width: 520px) {

/* line 20 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_base.styl */
  body {
    font-size: 1.6rem;
  }
}
@media print, screen and (min-width: 1025px) {

/* line 24 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_base.styl */
  body {
    font-size: 1.6rem;
    letter-spacing: 0.1em;
  }
}

/* line 28 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_base.styl */
* {
  float: none;
  position: static;
}

/* line 32 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_base.styl */
a {
  color: inherit;
  text-decoration: none;
}

/* line 35 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_base.styl */
a:hover {
  color: c-gray;
}

/* line 37 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_base.styl */
img {
  width: 100%;
}

/* line 40 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_base.styl */
li {
  list-style: none;
}

/* line 43 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_base.styl */
::selection {
  color: c-bg-1;
  background-color: c-txt-1;
}

/* line 46 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_base.styl */
::moz-selection {
  color: c-bg-1;
  background-color: c-txt-1;
}

/* line 50 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_base.styl */
::-webkit-scrollbar {
  background-color: c-navy;
}

/* line 52 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_base.styl */
::-webkit-scrollbar-thumb {
  background-color: c-red;
}

/* line 53 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\foundation\_base.styl */

/* line 1 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_load.styl */

/* line 1 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_load.styl */
.load {
  background-color: #fff9db;
  inset: 0;
  position: fixed;
  z-index: 9999;
  transform: translateY(0%);
}

/* line 7 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_load.styl */
.load__logo {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  display: none;
}
@media print, screen and (orientation: landscape) {

/* line 25 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_load.styl */

/* line 26 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_load.styl */
  .load__logo {
    width: 20vw;
  }
}

/* line 15 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_load.styl */

/* line 15 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_load.styl */

/* line 15 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_load.styl */

/* line 15 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_load.styl */
@keyframes loadfadeout {

/* line 16 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_load.styl */
  0% {
    transform: translateY(0%);
  }

/* line 19 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_load.styl */
  100% {
    transform: translateY(100%);
  }
}

/* line 27 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_load.styl */

/* line 1 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_header.styl */

/* line 10 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_header.styl */
.header {
  height: 6.6rem;
  position: fixed;
  top: 0;
  z-index: 10;
}

/* line 16 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_header.styl */
.hamburger {
  background: #34acbd;
  cursor: pointer;
  display: block;
  height: 4.2rem;
  position: fixed;
  right: 1.2rem;
  text-align: center;
  top: 1.2rem;
  width: 4.2rem;
  z-index: 11;
/* ナビ開いてる時のボタン */
}

/* line 27 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_header.styl */
.hamburger span {
  background: #fff;
  display: block;
  height: 0.15rem;
  right: 1.2rem;
  position: absolute;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  width: 1.7rem;
}

/* line 37 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_header.styl */
.hamburger span:nth-child(1) {
  top: 1.2rem;
}

/* line 39 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_header.styl */
.hamburger span:nth-child(2) {
  top: 2rem;
}

/* line 41 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_header.styl */
.hamburger span:nth-child(3) {
  top: 2.8rem;
}

/* line 44 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_header.styl */

/* line 45 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_header.styl */
.hamburger.active span {
  height: 0.15rem;
  right: 1.2rem;
  width: 1.7rem;
}

/* line 49 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_header.styl */
.hamburger.active span:nth-child(1) {
  background: c-bg-1;
  top: 2.1rem;
  transform: rotate(-45deg);
}

/* line 53 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_header.styl */
.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
  background: c-bg-1;
  top: 2.1rem;
  transform: rotate(45deg);
}

/* line 59 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_header.styl */
.hamburgerMenu {
  background: #fff;
  color: #003e54;
  height: 100vh;
  left: 0;
  opacity: 0;
  position: fixed;
  text-align: center;
  top: 0;
  visibility: hidden;
  width: 80%;
  z-index: 10;
  transition: 0.4s;
  transform: translateX(100%);
/* このクラスを、jQueryで付与・削除する */
}

/* line 73 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_header.styl */
.hamburgerMenu__contents {
  margin: 0 auto;
  padding: 0;
  margin-top: 6.6rem;
  width: 100%;
}

/* line 78 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_header.styl */
.hamburgerMenu__contents li {
  list-style-type: none;
  transition: 0.4s all;
  width: 100%;
}

/* line 82 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_header.styl */
.hamburgerMenu__contents li:last-child {
  padding-bottom: 0;
}

/* line 84 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_header.styl */
.hamburgerMenu__contents li a {
  color: #003e54;
  display: inline-block;
  margin: 3rem 0 0.2rem;
  padding: 0;
  width: 45%;
}

/* line 90 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_header.styl */
.hamburgerMenu__contents li a:hover {
  background-color: #eaf5f5;
}

/* line 94 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_header.styl */
.hamburgerMenu.active {
  opacity: 100;
  overflow-y: scroll;
  visibility: visible;
  transform: translateX(30%);
}

/* line 99 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_header.styl */
.hamburgerMenu.active::-webkit-scrollbar {
  display: none;
}
@media print, screen and (orientation: landscape) {

/* line 103 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_header.styl */
  .header {
    height: 8rem;
  }

/* line 105 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_header.styl */
  .hamburger {
    height: 5rem;
    width: 5rem;
  }

/* line 108 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_header.styl */
  .hamburger span {
    right: 1.5rem;
    width: 1.9rem;
  }

/* line 111 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_header.styl */
  .hamburger span:nth-child(1) {
    top: 1.5rem;
  }

/* line 113 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_header.styl */
  .hamburger span:nth-child(2) {
    top: 2.4rem;
  }

/* line 115 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_header.styl */
  .hamburger span:nth-child(3) {
    top: 3.3rem;
  }

/* line 117 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_header.styl */

/* line 118 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_header.styl */
  .hamburger.active span {
    right: 1.5rem;
    width: 1.9rem;
  }

/* line 121 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_header.styl */
  .hamburger.active span:nth-child(1) {
    top: 2.5rem;
  }

/* line 123 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_header.styl */
  .hamburger.active span:nth-child(2),
  .hamburger.active span:nth-child(3) {
    top: 2.5rem;
  }

/* line 126 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_header.styl */

/* line 127 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_header.styl */

/* line 129 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_header.styl */

/* line 130 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_header.styl */
  .hamburgerMenu .width 50% li a,
  .hamburgerMenu__contents li a {
    border-bottom: none;
    display: inline-block;
    padding-top: 1rem;
    width: 15%;
  }

/* line 135 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_header.styl */
  .hamburgerMenu .width 50% li a::after,
  .hamburgerMenu__contents li a::after {
    border-bottom: 0.2rem solid #003e54;
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    transition: width 0.6s;
    width: 0;
  }

/* line 142 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_header.styl */
  .hamburgerMenu .width 50% li a:hover,
  .hamburgerMenu__contents li a:hover {
    background-color: inherit;
    color: inherit;
  }

/* line 145 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_header.styl */
  .hamburgerMenu .width 50% li a:hover::after,
  .hamburgerMenu__contents li a:hover::after {
    width: 100%;
  }

/* line 147 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_header.styl */
  .hamburgerMenu .width 50% li a:active,
  .hamburgerMenu__contents li a:active {
    background-color: c-txt-1;
    color: c-bg-1;
  }

/* line 150 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_header.styl */

/* line 151 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_header.styl */
  .hamburgerMenu.active::-webkit-scrollbar {
    background-color: #fff;
  }
}

/* line 152 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_header.styl */

/* line 1 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_footer.styl */

/* line 1 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_footer.styl */
.footer {
  background-color: #fff9db;
  color: #003e54;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

/* line 8 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_footer.styl */
.copyright {
  margin: 0;
}
@media print, screen and (orientation: landscape) {

/* line 12 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_footer.styl */
  .footer {
    font-size: 1.3rem;
  }
}

/* line 13 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\common\_footer.styl */

/* line 1 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\page\_top.styl */

/* line 1 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\page\_top.styl */
.mask.active {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 8;
  background: rgba(0,0,0,0.55);
  transition: ease 0.4s;
}

/* line 9 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\page\_top.styl */
.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.55);
  display: none;
}

/* line 19 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\page\_top.styl */
.modal.active {
  display: block;
}

/* line 22 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\page\_top.styl */
.modal-close {
  background: #34acbd;
  width: 4rem;
  height: 4rem;
  display: block;
  z-index: 16;
}

/* line 28 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\page\_top.styl */
.modal-close__wrap {
  position: absolute;
  right: 12.5%;
  top: 25%;
}

/* line 32 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\page\_top.styl */
.modal-close__wrap span {
  position: absolute;
  top: 50%;
  left: 25%;
  width: 2rem;
  height: 0.2rem;
  background: #fff;
  display: block;
}

/* line 40 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\page\_top.styl */
.modal-close__wrap span:nth-child(1) {
  transform: rotate(45deg);
}

/* line 42 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\page\_top.styl */
.modal-close__wrap span:nth-child(2) {
  transform: rotate(-45deg);
}

/* line 45 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\page\_top.styl */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0,0,0,0.55);
  opacity: 0.6;
  z-index: 0;
  top: 0%;
  left: 0%;
  right: 0%;
}

/* line 56 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\page\_top.styl */
.overlay.active {
  display: block;
}

/* line 59 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\page\_top.styl */
.modal img {
  width: 75%;
  height: auto;
  z-index: 16;
  position: relative;
  top: 33%;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  display: block;
}
@media print, screen and (orientation: landscape) {

/* line 72 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\page\_top.styl */

/* line 73 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\page\_top.styl */
  .modal-close__wrap {
    right: 35%;
    top: 10%;
  }

/* line 76 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\page\_top.styl */
  .modal img {
    width: 30%;
    top: 20%;
  }
}

/* line 78 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\page\_top.styl */

/* line 1 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\utility\_utility.styl */

/* line 1 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\utility\_utility.styl */
.dispNone {
  display: none;
}

/* line 4 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\utility\_utility.styl */
.opac100 {
  opacity: 100;
}

/* line 7 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\utility\_utility.styl */
.opac0 {
  opacity: 0;
}

/* line 10 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\utility\_utility.styl */
.letterSpaceNormal {
  letter-spacing: normal;
}

/* line 13 : C:\Users\daito\OneDrive\ドキュメント\謎解き\個人企画\最宴祭\桜川周遊\webサイト\sakuragawanazo\src\stylus\utility\_utility.styl */
.dispFlex {
  display: flex;
  flex-wrap: wrap;
}
/*# sourceMappingURL=style.css.map */