.top__main
  overflow-x hidden
  position relative
  text-align center
  z-index: 0

.hero
  position relative
  z-index -5
  &__msg
    font-size 4.5vw
    letter-spacing: 0.7rem
    line-height: 6.0vh
    padding-left 1rem
    position relative
    text-align left
    top 20%
    transform translateY(-50%)
    &--1, &--2
      transition: opacity 1s
  & img.hero__sensu
    left: 72%
    position: absolute;
    top: 50%
    transform translate(-50%, -50%)
    width 200%
    z-index -5
  & img.hero__logoLarge
    bottom: 13%
    height: 10%
    left: 50%
    position: absolute;
    transform translate(-50%, -50%)
    width: auto
  &__scroll
    animation: upDown 2s infinite
    bottom 3rem
    cursor pointer
    left: 50%
    transition: opacity 1s
    position: absolute;
    z-index -1
    &__txt
      font-size: 2.7vw
      margin .5rem auto
      transform translateX(-50%)
    &__triangle
      border-left: 0.7rem solid transparent
      border-right: 0.7rem solid transparent
      border-top: 1.05rem solid c-txt-1
      height: 0
      transform translateX(-50%)
      width: 0

.topAbout
  &__desc
    padding 1rem
    text-align left

@keyframes upDown {
  0% {
    transform: translateY(-8%)
  }
  15% {
    transform: translateY(8%)
  }
  30% {
    transform: translateY(-5%)
  }
  45% {
    transform: translateY(0%)
  }
}

.topAbout
  padding 1vh 3vw 1vh 3vw

.topCloudFunding
  padding 1vh 3vw 5vh 3vw

+ls()
  .hero
    &__msg
      font-size 2.2vw
      letter-spacing: 1.2rem
      line-height: 9vh
      padding-left 2rem
    & img.hero__logoLarge
      bottom: 20%
      height: 15%
    & img.hero__sensu
      left: 85%
      position: absolute;
      top: 45%
      width 110%
    &__scroll
      bottom 7rem
      &__txt
        font-size: 1vw
      &__triangle
        border-left: 1.05rem solid transparent
        border-right: 1.05rem solid transparent
        border-top: (1.05*1.5)rem solid c-txt-1
  .top__main
    & .hukidashi
      max-width 45rem
