logoLen = 4.2rem
logoLenPc = 5rem
logoTop = 1.2rem
logoTopPc = 1.5rem
barLen = 1.7rem
barLenPc = 1.9rem
headerHeight = logoTop * 2 + logoLen
headerHeightPc = logoTopPc * 2 + logoLenPc

.header
  height headerHeight
  position: fixed;
  top: 0
  z-index: 10

.headerLogo
  margin 0
  padding 1rem
  & img
    height headerHeight - 1rem * 2
    position relative
    width auto

.hamburger
  background center/100% url(imgPath+"/common/hukidashi_menu.png")
  cursor: pointer;
  display : block;
  height: logoLen;
  position: fixed;
  right: logoTop;
  text-align: center;
  top: logoTop;
  width: logoLen;
  z-index: 10;
  & span
    background: c-bg-1;
    display: block;
    height: .15rem;
    right: logoTop;
    position: absolute;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    width : barLen;
    &:nth-child(1)
      top logoTop
    &:nth-child(2)
      top logoTop + .8rem
    &:nth-child(3)
      top logoTop + .8rem * 2
  /* ナビ開いてる時のボタン */
  &.active
    & span
      height: .15rem;
      right: logoTop;
      width : barLen;
      &:nth-child(1)
        background: c-bg-1;
        top: (logoLen / 2);
        transform: rotate(-45deg);
      &:nth-child(2),
      &:nth-child(3)
        background: c-bg-1;
        top: (logoLen / 2);
        transform: rotate(45deg);

.hamburgerMenu
  background: c-bg-1;
  color: c-txt-1;
  left: 0;
  opacity: 0;
  position: fixed;
  text-align: center;
  top: 0
  transition: .6s ease;
  visibility: hidden;
  width: 100%;
  z-index: 5;
  &__contents
    margin: 0 auto;
    padding: 0;
    margin-top: headerHeight
    width: 100%;
    & li
      list-style-type: none;
      transition: .4s all;
      width: 100%;
      &:last-child
        padding-bottom: 0;
      & a
        color: c-txt-1;
        display: inline-block;
        margin 3rem 0 .2rem
        padding 0
        width 45%
        &:hover
          background-color c-txt-1
          color c-bg-1
    &__icon
      margin 2.8rem 0.8rem
      width 4rem

  /* このクラスを、jQueryで付与・削除する */
  &.active
    height 100vh
    opacity: 100
    overflow-y: scroll
    visibility: visible
    &::-webkit-scrollbar
      display none

+ls()
  .header
    height headerHeightPc
  .headerLogo
    & img
      height headerHeightPc - 1.2rem * 2
  .hamburger
    height: logoLenPc;
    width: logoLenPc;
    & span
      right logoTopPc
      width : barLenPc;
      &:nth-child(1)
        top logoTopPc
      &:nth-child(2)
        top logoTopPc + .9rem
      &:nth-child(3)
        top logoTopPc + .9rem * 2
    &.active
      & span
        right: logoTopPc;
        width : barLenPc;
        &:nth-child(1)
          top: (logoLenPc / 2);
        &:nth-child(2),
        &:nth-child(3)
          top: (logoLenPc / 2);
  .hamburgerMenu
    &__contents
      & li
        & a
          border-bottom none
          display: inline-block;
          padding-top 1rem
          width 15%
          &::after
            border-bottom: .2rem solid c-txt-1
            content ""
            display block
            padding-bottom .5rem
            transition: width .6s;
            width 0
          &:hover
            background-color inherit
            color inherit
          &:hover::after
            width 100%
          &:active
            background-color c-txt-1
            color c-bg-1
      &__icon
        margin 3.0rem 0.8rem
        width 2.8%
    &.active
      &::-webkit-scrollbar
        background-color c-bg-1
