.load
  background-color c-yellow-1
  inset: 0
  position: fixed
  z-index: 9999
  transform: translateY(0%)
  &__logo
    left: 50%
    position fixed
    top: 50%
    transform: translate(-50%, -50%)
    width 50vw
    display none

@keyframes loadfadeout {
  0% {
    transform: translateY(0%)
  }
  100% {
    transform: translateY(100%)
  }
}

+ls()
  .load
    &__logo
      width 20vw
